build-tableOfContentsGenerator-Desktop_Qt_6_2_4_MinGW_64_bit-Debug
tableOfContentsGenerator/tableOfContentsGenerator.pro.user
*.idx
build-tableOfContentsGenerator-Desktop_Qt_6_2_4_MSVC2019_64bit-Debug
tableOfContentsGenerator/msvc_make.bat
